/* propriedades gerais */
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #ffff;
}
body{
    background-color: #302f2f;
}
a{
    text-decoration: none;
}
/* fim propriedades gerais */

/*propriedades navbar*/
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftnav{
    font-family: Vintage;
    font-size: 16pt;
}
.midnav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.rightnav{
    display: flex;
    flex-direction: row;
    gap: .75rem;
}
.search{
    display: flex;
    flex-direction: row;

}
.imgsearch{
    width: 2rem;
    height: 2rem;
    background-color: #979797;
    border-radius: 10px;
}
/*fim propriedades navbar*/