p{
    color: rgb(255, 255, 255);
}

.background{
    background-color: rgb(35, 35, 35);
}

.titlelanc{
    text-align: center;
    color: rgb(255, 255, 255);
}

.cornavbar{
    background-color: rgb(35, 35, 35);
}

.topbrtxt{
    color: rgb(255, 255, 255);
    text-align: start;
}

.topbr{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.element img{
    width: 350px;
    height: 300px;
}

.topbrtxtlink{
    color: rgb(255, 255, 255);
    text-align: start;
    text-decoration: none;
}