p{
    color: rgb(255, 255, 255);
}

.background{
    background-color: rgb(35, 35, 35);
}

.titlelanc{
    text-align: center;
    color: rgb(255, 255, 255);
}

.cornavbar{
    background-color: rgb(35, 35, 35);
}

.topbrtxt{
    color: rgb(255, 255, 255);
    text-align: start;
}

.topbr{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.element img{
    width: 350px;
    height: 300px;
}

.topbrtxtlink{
    color: rgb(255, 255, 255);
    text-align: start;
    text-decoration: none;
}

.modalcontainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-modal{
    width: 40rem;
    height: 50rem;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
    position: relative;
    padding: 1.5rem;
    top: 0;
    left: 0;
    border-radius: 25px;
    z-index: 9999;
}

.titlemodal{
    text-align: center;
}

.img-modal{
    width: 100%;
    height: 380px;
}

.sinopse-modal{
    margin-top: .5rem;
    font-weight: 400;
    text-align: justify;
    line-height: 2rem;
}